<% provide(:title, 'Hardware') %>
<h1>RECOMENDED HARDWARE</h1>
<p>

  <div class="jumbotron">
    <p class="hardware">
      Raspberry Pi 3 Model B
      <span>
        | <a href="https://www.amazon.com/Raspberry-Pi-RASPBERRYPI3-MODB-1GB-Model-Motherboard/dp/B01CD5VC92/ref=sr_1_1?s=pc&ie=UTF8&qid=1486780096&sr=1-1&keywords=raspberry+pi+3">Amazon</a>
      </span>
    </p>
    <p>
      <h2>
        <%= link_to image_tag("raspberryPi3ModB.jpg", class: "img-gen finder", alt: "Rails logo"),
        'https://www.raspberrypi.org/products/raspberry-pi-3-model-b/' %>
      </h2>
    </p>
  </div>

  <div class="jumbotron">
    <p class="hardware">
      Raspberry Pi 3 Model B Official Case
      <span>
        | <a href="https://www.amazon.com/Official-Raspberry-Pi-Case-Black/dp/B01F1PSFY6/ref=pd_sim_147_2?_encoding=UTF8&psc=1&refRID=VSQD2XCXFKRHHQMGTTFF">Amazon</a>
      </span>
    </p>
    <p>
      <h2>
        <%= link_to image_tag("rp3Case.jpg", class: "img-gen finder", alt: "Rails logo"),
        'https://www.raspberrypi.org/products/raspberry-pi-case/' %>
      </h2>
    </p>
  </div>

  <div class="jumbotron">
    <p class="hardware">
      Raspberry Pi 3 Power Adapter
      <span>
        | <a href="https://www.amazon.com/CanaKit-Raspberry-Supply-Adapter-Charger/dp/B00MARDJZ4/ref=pd_sim_23_2?_encoding=UTF8&psc=1&refRID=E0NBAWMQ43BQ5XP7SBNR">Amazon</a>
      </span>
    </p>
    <p>
      <h2>
        <%= link_to image_tag("rpPower.jpg", class: "img-gen finder", alt: "Rails logo"),
        'https://www.raspberrypi.org/products/universal-power-supply/' %>
      </h2>
    </p>
  </div>

  <div class="jumbotron">
    <p class="hardware">
      Micro SD Card with Adapter
      <span>
        | <a href="https://www.amazon.com/SanDisk-microSDHC-Standard-Packaging-SDSQUNC-032G-GN6MA/dp/B010Q57T02/ref=pd_bxgy_147_img_2?_encoding=UTF8&psc=1&refRID=07SC7VW1FN9ZECFJR3MZ">Amazon</a>
      </span>
    </p>
    <p>
      <h2>
        <%= link_to image_tag("sanDiskSD.jpg", class: "img-gen finder", alt: "Rails logo"),
        'https://www.amazon.com/SanDisk-microSDHC-Standard-Packaging-SDSQUNC-032G-GN6MA/dp/B010Q57T02/ref=pd_bxgy_147_img_2?_encoding=UTF8&psc=1&refRID=07SC7VW1FN9ZECFJR3MZ' %>
      </h2>
    </p>
  </div>


  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">retropie page</a>.
</p>
