<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title) %> | TTWMWTT</title>
  </head>
  <body>

    <div class="center jumbotron">
      <h1>THIS TUTORIAL WAS MADE WITH THIS TUTORIAL</h1>
    </div>

    <div class="jumbotron">
      <p>
        <!-- This is the home page for TTWMWTT
        <a href="https://ancient-river-92961.herokuapp.com/">(This Totorial Was Made With This Tutorial)</a> -->
        This Tutorial was made to walk even the most novice user through the complete set up and instalation process of a Raspberry Pie running Raspbian and Retropie! It is designed to provide clear and consise instructions to get the user set up with a fully functional mini computer capable of handleing everyday use such as word processing and web surfing, development (this tutorial was built on one) and emulating pretty much any gaming console or computer prior to the release of the PS2.
      </p>
    </div>

    <div class="jumbotron">
      <div class="container-fluid">
        <div class="col-md-5">
          <%= link_to image_tag("raspPiLogo.jpg", class: "img-gen", alt: "Rails logo"), 'https://www.raspberrypi.org/products/raspberry-pi-3-model-b/' %>
        </div>
        <div class="col-md-7">
          <p>This is a test paragraph!</p>
        </div>
      </div>
    </div>



  </body>
</html>
