<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | TTWMWTT</title>
  </head>
  <body>
    <h1>THIS TUTORIAL WAS MADE WITH THIS TUTORIAL</h1>
    <p>
      This is the home page for the
      <a href="https://ancient-river-92961.herokuapp.com/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
