<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | TTWMWTT</title>
  </head>
  <body>

    <div class="center jumbotron">
      <h1>THIS TUTORIAL WAS MADE WITH THIS TUTORIAL</h1>

      <h2>
        This is the home page for the
        <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
      </h2>

      <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
    </div>

    <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>

    <p>
      This is the home page for the
      <a href="https://ancient-river-92961.herokuapp.com/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  </body>
</html>
