<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | TTWMWTT</title>
  </head>
  <body>

    <div class="center jumbotron">
      <h1>THIS TUTORIAL WAS MADE WITH THIS TUTORIAL</h1>

      <h2>
        This is the home page for TTWMWTT
        <a href="https://ancient-river-92961.herokuapp.com/">(This Totorial Was Made With This Tutorial)</a>
      </h2>

    </div>

    <div>
      <%= link_to image_tag("raspPiLogo.jpg", class: "img-gen", alt: "Rails logo"), 'https://www.raspberrypi.org/products/raspberry-pi-3-model-b/' %>
      <p>This is a test paragraph!</p>
    </div>

    <div>
      <%= link_to image_tag("noobsFiles.png", class: "img-gen finder", alt: "Rails logo"), 'https://www.raspberrypi.org/products/raspberry-pi-3-model-b/' %>
    </div>

  </body>
</html>
