<% provide(:title, 'Raspbian') %>
<h1>RASPBIAN</h1>
<!-- <p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">raspbian page</a>.
</p> -->

<div class="jumbotron">
  <p class="step">STEP 1</p>
</div>

<div class="jumbotron">
  <p class="step">STEP 2</p>
</div>

<div class="jumbotron">
  <p class="step">STEP 3</p>
</div>

<div class="jumbotron">
  <p class="step">STEP 4</p>
</div>

<div class="jumbotron">
  <p class="step">STEP 5</p>
</div>
