<% provide(:title, 'Raspbian') %>
<h1>RASPBIAN</h1>
<!-- <p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">raspbian page</a>.
</p> -->

<div class="jumbotron">
  <p>
    <span class="step">STEP 1</span>
    Dowload the
    <a href="https://www.raspberrypi.org/downloads/noobs/">NOOBS</a>
    installer package from
    <a href="https://www.raspberrypi.org/downloads/noobs/">www.raspberrypi.org</a>
  </p>
  <p>
    <h2>
      <%= link_to image_tag("noobsDL.png", class: "img-gen finder", alt: "Rails logo"),
      'https://www.raspberrypi.org/products/raspberry-pi-3-model-b/' %>
    </h2>
  </p>
</div>

<div class="jumbotron">
  <p><span class="step">STEP 2</span>  Unzip the the NOOBS_v2_1_0.zip</p>
  <p>On most operating systems you should be able to achieve this simply by double clicking on the zip file</p>
</div>

<div class="jumbotron">
  <p>
    <span class="step">STEP 3</span>
    Drag the contents of the NOOBS file into your micro SD
  </p>
  <p>
    <h2>
      <%= link_to image_tag("noobsFiles.png", class: "img-gen finder", alt: "Rails logo"), 'https://www.raspberrypi.org/products/raspberry-pi-3-model-b/' %>
    </h2>
  </p>
</div>

<div class="jumbotron">
  <p class="step">STEP 4</p>
</div>

<div class="jumbotron">
  <p class="step">STEP 5</p>
</div>
